@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes appear{
    from{
        opacity: 0;
        translate: -100vw 0;
    }to{
        opacity: 1;
        translate: 0 0;
    }
}

body{
    width: 100%;
    background-color: #171414;
    color: white;
    font-family: "roboto";
    font-weight: 300;
}
/*botao home*/
.buttonHome{
    position: fixed;
    left: 97%;
    z-index: 999999;
    top: 90%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #34b369;
}
.buttonHome:hover{
    transition: 1s;
    background-color: #2e2929;
}
/* Header*/
header{
    border-bottom: solid 2px #34b369;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

header img{
    border: ;
    width: 80px;
    height: 80px;
}
.nav{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: ;
}
header a{
    text-decoration: none;
    color: white;
    padding: 5%;
    opacity: 0.7;
    font-size: 1em; 
    font-weight: 400;
}
header a:hover{
    transition: 0.2s;
    opacity: 10;
}
/* Fim Header*/
/*Inicio Section 1*/
.sct1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: inline-block;
    border-bottom: solid 2px #34b369;
    overflow: hidden;
}
.imgsct1{
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.txtapresentativo1{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txtapresentativo1 .txt1{
    font-weight: 600;
    font-size: 5em;
    color:white;
    animation: appear 3s;
}

/*Fim Section 1*/

/*Inicio Section 2*/
.sct2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sct2 .sobre{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 10%;
    border: ;
}

.sct2 .sobre .txtapresentativo2{
    width: 70%;
    height: 100%;
    border-top: 2px solid white;
    padding-top: 2%;   
    font-size: 1em; 
}
.valores{
    width: 90%;
    height: 55%;
    display: grid;
    justify-items:center;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    border:;
    margin-top: 5%;
}
.valores .missao{
    margin-top: 4%;
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1em;
}
.valores .visao{
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
    padding-left: 5%;   
    padding-top: 5%;
    font-size: 1em;
}
.valores .valores1{
    margin-top: 4%;
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1em;
}
/* Fim Section 2*/

/*Rodape*/
.rodape{
    width: 100%;
    border-top: 2px solid #34b369;
    display: flex;
    justify-content: center;
    align-items: center;
    border:;
}

.rodape .informacoes{
   width: 90%;
   height: 30vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;  
}

.rodape .informacoes .contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 50%;
}

.rodape .informacoes .contato .localidade{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 1em;
}
.rodape .informacoes .contato .localidade img{
    width: 2em;
    height: 2em;
}
.rodape .informacoes .contato .telefone{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 1em;
}
.rodape .informacoes .contato .telefone img{
    width: 2em;
    height: 2em;
}
.rodape .informacoes .contato .email{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 1em;
}
.rodape .informacoes .contato .email img{
    width: 2em;
    height: 2em;
}
.rodape .informacoes .localizacao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
}
.rodape .informacoes .localizacao iframe{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape .informacoes .enviaremail{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.rodape .informacoes .enviaremail h3{
    font-size: 1em;
    padding-right: 8.3%;
}
.rodape .informacoes .enviaremail .ipt{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.rodape .informacoes .enviaremail .ipt .ipt_email{
    border: none;
    outline: 0;
    border-radius: 8px;
}
.rodape .informacoes .enviaremail .ipt .btn_email{
    background-color: #171414;
    border: none;
    outline: 0;
    cursor: pointer;
}

/* Responsividade */

@media screen and (min-width:320px) and (max-width:670px) {
    .buttonHome{
        display: none;
    }
    /*sect1*/
    .txtapresentativo1 .txt1{
        font-weight: 600;
        font-size: 1.8em;
    }
    /*sect2*/
    .sct2 .sobre{
        flex-direction: column;  
        margin-top: 3%;
        gap: 1%;
        height: 20%;
    }
    .sobre h1{
        font-size: 0.7em; 
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 0.5em;
        overflow-x: hidden; 
        overflow-y: scroll;
        width: 100%;
    }
    .valores{
        display: flex;
        flex-direction: column;
        height: 74%;
        gap: 2%;
    }
    .valores .missao{
        font-size: 0.5em;
        padding-left: 3%;
        padding-top: 3%;
        margin-top: 0;
    }
    .valores .visao{
        font-size: 0.5em;
        padding-left: 3%;
        padding-top: 3%;
        
    }
    .valores .valores1{
        font-size: 0.5em;
        padding-left: 3%;
        padding-top: 3%;
        margin-top: 0;
    }
    /*footer*/
    .rodape{
        height: 55vh;
    }
    .rodape .informacoes{
        flex-direction: column;
        height: 90%;
    }
    .rodape .informacoes .contato{
        height: 40%;
        width: 70%;
    }
    .rodape .informacoes .contato .localidade{
        gap: 1%;
        font-size: 0.7em;
    }    
    .rodape .informacoes .contato .localidade img{
        width: 1.5em;
        height: 1.5em;
    }
    .rodape .informacoes .contato .telefone{
        gap: 1%;
        font-size: 0.7em;
    }
    .rodape .informacoes .contato .telefone img{
        width: 1.5em;
        height: 1.5em;
    }
    .rodape .informacoes .contato .email{
        gap: 1%;
        font-size: 0.7em
    }
    .rodape .informacoes .contato .email img{
        width: 1.5em;
        height: 1.5em;
    }
    .rodape .informacoes .localizacao{
        height: 40%;
        width: 70%;
    }
    .rodape .informacoes .localizacao iframe{
        width: 100%;
        height: 100%;
    }
    .rodape .informacoes .enviaremail{
        height: 40%;
        width: 70%;
        align-items: flex-start;
    }
    .rodape .informacoes .enviaremail .ipt{
        justify-content:left;
    }
    .rodape .informacoes .enviaremail h3{
        font-size: 0.7em;
        padding-left: 2%;
    } 
    .rodape .informacoes .enviaremail .ipt .btn_email img{
        width: 1.5em;
        height: 1.5em;   
    }   
}

@media screen and (min-width: 671px) and (max-width:1000px){
    .buttonHome{
        left: 95%;
    }
    /*sect1*/
    .txtapresentativo1 .txt1{
        font-weight: 600;
        font-size: 3em;
    }
     /*sect2*/
    .sct2 .sobre{
        flex-direction: column;  
        margin-top: 3%;
        gap: 1%;
        height: 20%;
    }
    .sobre h1{
        font-size: 1em; 
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 0.8em;
        overflow-x: hidden; 
        overflow-y: scroll;
        width: 100%;
    }
    .valores{
        display: flex;
        flex-direction: column;
        height: 70%;
        gap: 2%;
    }
    .valores .missao{
        font-size: 0.8em;
        padding-left: 3%;
        padding-top: 3%;
        margin-top: 0;
    }
    .valores .visao{
        font-size: 0.8em;
        padding-left: 3%;
        padding-top: 3%;
        
    }
    .valores .valores1{ 
        font-size: 0.8em;
        padding-left: 3%;
        padding-top: 3%;
        margin-top: 0;
    }
     /*footer*/
    .rodape .informacoes{
        justify-content: space-around;
    }
    .rodape .informacoes .contato{
        height: 40%;
        width: 40%;
    }
    .rodape .informacoes .contato .localidade{
        gap: 1%;
        font-size: 1em;
    }    
    .rodape .informacoes .contato .localidade img{
        width: 2em;
        height: 2em;
    }
    .rodape .informacoes .contato .telefone{
        gap: 1%;
        font-size: 1em;
    }
    .rodape .informacoes .contato .telefone img{
        width: 2em;
        height: 2em;
    }
    .rodape .informacoes .contato .email{
        gap: 1%;
        font-size: 1em
    }
    .rodape .informacoes .contato .email img{
        width: 2em;
        height: 2em;
    }
    .rodape .informacoes .localizacao{
        height: 40%;
        width: 30%;
    }
    .rodape .informacoes .localizacao iframe{
        width: 100%;
        height: 100%;
    }
    .rodape .informacoes .enviaremail{
        height: 40%;
        width: 40%;
    }
    .rodape .informacoes .enviaremail h3{
        font-size: 0.8em;
        padding-right: 15%;
    } 
    .rodape .informacoes .enviaremail .ipt .btn_email img{
        width: 1.8em;
        height: 1.8em;   
    }  
}

@media screen and (min-width:1001px) and (max-width:1354px){
    .buttonHome{
        left: 96%;
    }
    .txtapresentativo1 .txt1{
        font-weight: 600;
        font-size: 4em;
    }
    .sobre h1{
        font-size: 1.5em; 
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 0.8em;
    }    
    .valores .missao{
        font-size: 0.8em;
    }    
    .valores .visao{
        font-size: 0.8em;
    }
    .valores .valores1{ 
        font-size: 0.8em;
    }    
}