@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes appear{
    from{
        opacity: 0;
        translate: -100vw 0;
    }to{
        opacity: 1;
        translate: 0 0;
    }
}

body{
    width: 100%;
    background-color: #171414;
    color: white;
    font-family: "roboto";
    font-weight: 300;
}
/*botao home*/
.buttonHome{
    position: fixed;
    left: 97%;
    z-index: 999999;
    top: 90%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #34b369;
}
.buttonHome:hover{
    transition: 1s;
    background-color: #2e2929;
}
/* Header*/
header{
    border-bottom: solid 2px #34b369;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    z-index: 100;
}
header img{
    width: 100px;
    height: 100px;
}
.nav{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
header a{
    text-decoration: none;
    color: white;
    padding: 25px;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 400;
}
header a:hover{
    transition: 0.2s;
    opacity: 10;
}
/* Fim Header*/
/*Inicio Section 1*/
.sct1{
    width: 100%;
    position: relative;
    display: inline-block;
    border-bottom: solid 2px #34b369;
    overflow: hidden;
}
.imgsct1{
    display: block;
    z-index: 0;
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.txtapresentativo1{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txtapresentativo1 .txt1{
    font-weight: 600    ;
    font-size: 100px;
    color:white;
    animation: appear 3s;
}

/*Fim Section 1*/

/*Inicio Section 2*/
.sct2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}
.sct2 .sobre{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 10%;
    animation: appear 1s;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.sct2 .sobre .txtapresentativo2{
    width: 850px;
    border-top: 2px solid white;
    padding-top: 20px;    
}
.valores{
    width: 90%;
    display: grid;
    justify-items:center;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    animation: appear 0.5s;
    animation-timeline: view();
    animation-range: cover 0% cover 35%;
}
.valores .missao{
    margin-top: 4%;
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.valores .visao{
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.valores .valores1{
    margin-top: 4%;
    border: 2px solid #34b369;
    border-radius: 20px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
/* Fim Section 2*/

/*Rodape*/
.rodape{
    width: 100%;
    height: 300px;
    border-top: 2px solid #34b369;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.rodape .informacoes{
   width: 95%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.rodape .informacoes .contato{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.rodape .informacoes .contato .localidade{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
}
.rodape .informacoes .contato .localidade img{
    width: 35px;
    height: 35px;
}
.rodape .informacoes .contato .telefone{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
}
.rodape .informacoes .contato .telefone img{
    width: 35px;
    height: 35px;
}
.rodape .informacoes .contato .email{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
}
.rodape .informacoes .contato .email img{
    width: 35px;
    height: 35px;
}
.rodape .informacoes .localizacao{
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape .informacoes .localizacao iframe{
    width:80%; 
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape .informacoes .enviaremail{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.rodape .informacoes .enviaremail h3{
    padding-left: 8%;
}
.rodape .informacoes .enviaremail .ipt{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.rodape .informacoes .enviaremail .ipt .ipt_email{
    border: none;
    outline: 0;
    border-radius: 8px;
    width: 200px;
    height: 30px;
}
.rodape .informacoes .enviaremail .ipt .btn_email{
    background-color: #171414;
    border: none;
    outline: 0;
    cursor: pointer;
}

/*responsividade*/
@media screen and (min-width:0px) and (max-width:600px){
    /*responsividade header*/
    header{
        height: 80px;
    }
    header img{
        width: 60px;
        height: 60px;
    }
    header a{
        padding: 15px;
        font-size: 16px;
    }
    /*botao home*/
    .buttonHome{
        left: 90%;
        width: 30px;
        height: 30px;
    }

    /*responsividade sect1*/
    .imgsct1{
        display: block;
        z-index: 0;
        width: 100%;
        height: 100vh;
    }

    .txtapresentativo1 .txt1{
        font-size: 37px;
        font-weight:700;
    }
    
    /*responsividade sect2*/
    .sct2{
        width: 100%;
        height: 100vh;
        gap: 20px;
    }

    .sct2 .sobre{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        gap: 10%;
    }
    .sct2 .sobre h1{
        font-size: 15px;
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 10px;
        font-weight:300;
        width: 100%;
    }
    .valores{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .valores .missao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    .valores .visao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    .valores .valores1{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    /*responsividade footer*/
    .rodape{
        width: 100%;
        height: 380px;
    }
    .rodape .informacoes{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
    .rodape .informacoes .contato{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .contato .localidade{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .localidade img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .telefone{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .telefone img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .email{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .email img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .enviaremail{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .enviaremail h3{
        padding-left: 18%;
        font-size: 15px;
        font-weight:400;
    }
    .rodape .informacoes .enviaremail .ipt .ipt_email{
        border: none;
        outline: 0;
        border-radius: 8px;
        width: 225px;
        height: 30px;
    }
    .rodape .informacoes .localizacao{
        width: 250px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rodape .informacoes .localizacao iframe{
        width:100%; 
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:600px) and (max-width:1000px){
     /*responsividade header*/
     header{
        height: 80px;
    }
    header img{
        width: 75px;
        height: 75px;
    }
    header a{
        padding: 15px;
        font-size: 20px;
    }

    /*botao home*/
    .buttonHome{
        left: 95%;
        width: 30px;
        height: 30px;
    }
    /*responsividade sect1*/
    .imgsct1{
        display: block;
        z-index: 0;
        width: 100%;
        height: 100vh;
    }
    
    .txtapresentativo1 .txt1{
        font-size: 45px;
        font-weight:700;
    }
     /*responsividade sect2*/
     .sct2{
        width: 100%;
        height: 100vh;
        gap: 20px;
    }

    .sct2 .sobre{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        gap: 10%;
    }
    .sct2 .sobre h1{
        font-size: 15px;
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 11px;
        font-weight:300;
        width: 100%;
    }
    .valores{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .valores .missao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 10px;
    }
    .valores .visao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 10px;
    }
    .valores .valores1{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 10px;
    }
    /*responsividade footer*/
    .rodape{
        width: 100%;
        height: 180px;
    }
    .rodape .informacoes{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .rodape .informacoes .contato{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .contato .localidade{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .localidade img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .telefone{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .telefone img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .email{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .email img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .enviaremail{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .enviaremail h3{
        padding-left: 7%;
        font-size: 15px;
        font-weight:400;
    }
    .rodape .informacoes .enviaremail .ipt .ipt_email{
        border: none;
        outline: 0;
        border-radius: 8px;
        width: 150px;
        height: 30px;
    }
    .rodape .informacoes .localizacao{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rodape .informacoes .localizacao iframe{
        width:100%; 
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:1000px) and (max-width:1370px){
      /*responsividade header*/
      header{
        height: 80px;
    }
    header img{
        width: 80px;
        height: 80px;
    }
    header a{
        padding: 15px;
        font-size: 20px;
    }

    /*botao home*/
    .buttonHome{
        left: 96%;
        width: 30px;
        height: 30px;
    }
    /*responsividade sect1*/
    .imgsct1{
        display: block;
        z-index: 0;
        width: 100%;
        height: 100vh;
    }
    
    .txtapresentativo1 .txt1{
        font-size: 48px;
        font-weight:700;
    }
     /*responsividade sect2*/
     .sct2{
        width: 100%;
        height: 100vh;
        gap: 15px;
    }

    .sct2 .sobre{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        gap: 5%;
    }
    .sct2 .sobre h1{
        font-size: 18px;
    }
    .sct2 .sobre .txtapresentativo2{
        font-size: 11px;
        font-weight:300;
        width: 100%;
    }
    .valores{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .valores .missao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    .valores .visao{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    .valores .valores1{
        margin-top: 4%;
        border: 1px solid #34b369;
        border-radius: 20px;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px;
        font-size: 11px;
    }
    /*responsividade footer*/
    .rodape{
        width: 100%;
        height: 180px;
    }
    .rodape .informacoes{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }
    .rodape .informacoes .contato{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .contato .localidade{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .localidade img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .telefone{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .telefone img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .contato .email{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }
    .rodape .informacoes .contato .email img{
        width: 22px;
        height: 22px;
    }
    .rodape .informacoes .enviaremail{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .rodape .informacoes .enviaremail h3{
        padding-left: 7%;
        font-size: 15px;
        font-weight:400;
    }
    .rodape .informacoes .enviaremail .ipt .ipt_email{
        border: none;
        outline: 0;
        border-radius: 8px;
        width: 150px;
        height: 30px;
    }
    .rodape .informacoes .localizacao{
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rodape .informacoes .localizacao iframe{
        width:100%; 
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}